@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:wght@700&family=Oxygen:wght@300;400;700&family=Vesper+Libre:wght@700&display=swap');
* {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.divL {
    margin: 20px;
}

.form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 300px;
}

label {
    font-weight: bold;
}

input[type="text"],
[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button1 {
    background-color: #00be6f;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
}

.button1:hover {
    background-color: #24875e;
}

.body1 {
    background-image: url(../img/fondo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.body2 {
    /* background-image: url(../img/fondo.png); */
    height: 100vh;
    margin: 0;
    /* zoom: 0.8; */
}

img {
    width: 280px;
}

#reg {
    display: none;
}

.botonesTop {
    left: 1%;
    top: 1%;
    position: fixed;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #00be6f;
    color: #fff;
    border: 2px solid #00be6f;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #14683b;
    border-color: #14683b;
}

.boton2 {
    margin-left: 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    color: black;
    transition: background-color 0.3s;
    background-color: transparent;
    border-color: transparent;
}

.salir {
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    /* display: inline-block; */
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    color: black;
    transition: background-color 0.3s;
    background-color: transparent;
    border-color: transparent;
}

.salir:hover {
    color: rgb(224, 5, 5);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 15px;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 90px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: grey;
    border-radius: 30px;
}

.boton2:hover {
    /* color: grey; */
    color: #55e480;
}

.restauranteModal {
    margin-top: 1%;
    border-radius: 15px 15px 0 0;
    border: solid 1px black;
    overflow-y: auto;
    padding: 30px;
    position: fixed;
    background-color: #edeaea;
    z-index: 1;
    top: 0px;
    left: 0px!important;
    right: 0px!important;
    height: 100%;
    width: 97%;
    display: none;
    padding-right: 0px!important;
    margin-right: 0.5%;
    margin-left: 0.5%;
    z-index: 4;
}

.navbar {
    padding: 20px;
    background-color: white;
    border-bottom: solid green 3px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.cuerpo {
    /*     position: fixed; */
    display: flex;
    /* Establece el contenedor como un flex container */
    flex-direction: column;
    /* Alinea el contenido en una columna */
    justify-content: center;
    /* Centra verticalmente el contenido */
    align-items: center;
    /* Centra horizontalmente el contenido */
    background-color: white;
    padding-top: 100px;
    /* Asegúrate de que el div ocupe todo el espacio disponible en la pantalla */
    width: 100%;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

.filtros {
    display: flex;
    /* Establece el contenedor como un flex container */
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
}

.logo {
    width: 200px;
    margin-right: 20px;
}

.contenedor1 {
    display: flex;
    flex-basis: 100%;
}

.numeroR {
    color: #00be6f;
    font-weight: bold;
    font-size: 100%;
    margin-top: 3%;
}

.restaurante {
    color: black;
    padding: 10px;
    width: 20%;
    border-radius: 5px;
    width: 30%;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    float: left;
}

.imgR {
    width: 200px;
    border-radius: 5px;
}

.lupa {
    padding: 2px;
    background-color: white;
    /* position: relative; */
    display: inline-block;
    border-radius: 20px;
    /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.campo-busqueda {
    background-color: transparent;
    width: 600px;
    /* Ancho del campo de búsqueda */
    height: 50px;
    padding: 10px;
    /* Espaciado interno */
    outline: none;
    border: transparent;
}

.campo-busqueda:focus {
    background-color: transparent;
    /* Fondo transparente cuando está en foco */
    outline: none;
    /* Eliminar el contorno al hacer clic */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* Sombra cuando está enfocado */
}

.campo-busqueda::placeholder {
    color: #aaa;
    /* Color del texto de marcador de posición */
}

.campo-busqueda:focus::placeholder {
    color: transparent;
    /* Ocultar el marcador de posición cuando está enfocado */
}

.botonL {
    padding: 15px 20px;
    /* Espaciado interno */
    background-color: #55e480;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    border: none;
    border-radius: 20px;
    /* Borde redondeado */
    cursor: pointer;
    margin-left: 10px;
    /* Espacio entre el campo de búsqueda y el botón */
}

.botonL:hover {
    background-color: #3e8c55;
    /* Color de fondo del botón al pasar el ratón */
}

.mi-select {
    margin-left: 10px;
    padding: 10px;
    /* Espaciado interno */
    font-size: 16px;
    /* Tamaño de fuente */
    border-radius: 5px;
    /* Borde redondeado */
    outline: none;
    /* Eliminar el contorno de foco */
    width: 200px;
    /* Ancho del select */
    cursor: pointer;
    /* Cursor al pasar sobre el select */
}

.footer {
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: antiquewhite;
}

.footer>div {
    margin-right: 20px;
    /* Espacio entre los bloques */
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.swal2-styled.swal2-confirm {
    background-color: #28a745!important;
}

.btnImagen {
    position: absolute;
    top: 25.2%;
    right: 4.5%;
    z-index: 1;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.h1R {
    font-size: 30px;
    margin-right: 5%;
}

.columna {
    background-color: white;
    margin-right: 20px;
    float: left;
    width: 31%;
    /* Ajusta el ancho según tus necesidades */
    padding: 15px;
    /* Espacio interno horizontal */
    box-sizing: border-box;
    /* Esto asegura que el padding no afecte al ancho */
    text-align: center;
    /* Centra el contenido horizontalmente */
    height: 60%;
}

.columna2 {
    background-color: white;
    float: left;
    width: 31%;
    /* Ajusta el ancho según tus necesidades */
    padding: 0 15px;
    /* Espacio interno horizontal */
    box-sizing: border-box;
    /* Esto asegura que el padding no afecte al ancho */
    text-align: center;
    /* Centra el contenido horizontalmente */
    height: 60%;
}

.tituloR {
    padding: 1%;
    padding-left: 2%;
    background-color: white;
    margin-right: 4.5%;
}

.cerrar {
    margin-bottom: 2%;
    margin-right: 2%;
    width: 20px;
    border: solid 0px;
    background-color: transparent;
    float: right;
    cursor: pointer;
}

.imgB {
    width: 20px;
}

.portada {
    width: 95.5%;
}

.subT {
    margin-left: 6%;
}

#restauranteModal {
    transition: all 1s ease;
    /* Transición para suavizar la animación */
}

.ocultar {
    transform: translateY(100%);
    /* Mover el div hacia abajo */
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.estrella_foto {
    /* max-width: 200px;
    height: 7%; */
    width: 100px !important;
}

.valoraciones {
    display: flex;
    align-items: center;
    gap: 10%;
}

.wrapper i {
    top: 35%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    /* transform: translateY(-120%); */
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: 0px;
}

.wrapper i:last-child {
    right: 0px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* gap: -20px; */
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card,
.img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    cursor: pointer;
    padding-bottom: 0px;
    flex-direction: column;
    border-radius: 8px;
    width: 240px;
    align-items: first baseline;
}

.carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 240px;
    margin-top: 10%;
    border-radius: 5px;
}

.card .img img {
    width: 240px;
    height: 240px;
    border-radius: 5px;
    /* border-radius: 50%; */
    /* object-fit: cover;
    border: 4px solid #fff; */
}

.carousel .card label {
    font-weight: bold;
    margin-right: 100px;
    font-weight: 500;
    font-size: 15px;
    /* margin: 50px 0 5px;*/
    margin-top: 50px;
    /* margin-left: -125px; */
}

.carousel .card span {
    font-size: 12px;
    font-weight: bold;
}

.star {
    font-size: 32px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
}

.fondoTar {
    height: 360px;
    padding-left: 6%;
    background-color: white;
    border-top: solid green 3px;
}

.rotada {
    transform: rotate(-4deg);
    width: 160px;
    margin-right: 4%;
    border-radius: 5px;
}

.anuncio {
    display: flex;
    background-color: antiquewhite;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    margin-left: 6%;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    border: solid black;
    width: 1076px;
    margin-bottom: 2%;
}

.h1O {
    justify-content: center;
    font-size: 30px;
}

.star:hover,
.star.checked {
    color: gold;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

@media screen and (min-width: 1600px) {
    .boton2 {
        font-size: 25px;
    }
    .salir {
        font-size: 25px;
        margin-top: 1%;
    }
}

@media screen and (min-width: 1900px) {
    .boton2 {
        font-size: 26px;
    }
    .salir {
        font-size: 26px;
        margin-top: 1.5%;
    }
    .logo {
        width: 280px;
    }
    li {
        font-size: 25px;
    }
    .tn {
        font-size: 25px;
    }
    h1 {
        font-size: 60px;
    }
    .h1R {
        font-size: 45px;
    }
    .campo-busqueda {
        width: 1000px;
        height: 70px;
        font-size: 25px;
    }
    .botonL {
        font-size: 25px;
        margin-right: 4px;
    }
    .mi-select {
        margin-left: 10px;
        padding: 15px;
        font-size: 25px;
        width: 300px;
    }
    .lupa {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .h2M {
        font-size: 40px;
    }
    .form {
        padding: 40px;
        width: 400px;
    }
    .labelL {
        font-size: 25px;
    }
    input[type="text"],
    [type="password"] {
        height: 40px;
    }
    .button1 {
        height: 40px;
        font-size: 16px;
    }
    .boton {
        font-size: 25px;
    }
}


/* Estilos comentarios */

.comentarios {
    margin-top: 31%;
    margin-left: 1%;
}

.posicion {
    display: flex;
    gap: 8px 80%;
    margin-bottom: 16px;
}

.unstyle {
    all: unset;
}

.icon-with-text {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos */
}

.review {
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px #e0e0e0;
    margin-left: -18px;
    resize: none;
    scrollbar-color: rgba(0, 0, 0, .6) transparent;
    scrollbar-width: thin;
    width: calc(96.5% - 4px);
    margin-bottom: 1%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding-left: 1%;
    padding-top: 1%;
}

.botonReview {
    display: block;
    background-color: black;
    color: white;
    border-radius: 28px;
    font-size: 15px;
    padding: 18px 50px;
    margin-left: 84%;
    margin-top: -50px;
    transition: color .1s linear, background-color .1s linear, border-color .1s linear;
}

.botonReview:hover {
    background-color: rgba(0, 0, 0, .6);
}

.icon-with-text svg {
    margin-right: 5px;
    /* Espacio entre el SVG y el texto */
}

.icon-with-text span {
    text-decoration-line: underline;
}

.bannerImg {
    height: 400px;
    width: 95.5%;
}

.aparecer {
    transform: translateX(-50%);
    animation: aparecerDesdeAbajo 1s ease forwards;
}

@keyframes aparecerDesdeAbajo {
    0% {
        transform: translate(0%, 100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

.ocultar {
    animation: ocultarModal 1s ease forwards;
}

@keyframes ocultarModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.anuncio {
    cursor: pointer;
}

#resetF {
    transition: transform 0.5s ease;
}

.reset {
    width: 30px;
}

.anuncio2 {
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    background-image: url(../img/amar-barcelona.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-left: 6%;
    height: 600px;
    border-radius: 20px;
    border: 1px solid black;
    width: 86.5%;
    padding: 2%;
    padding-bottom: 4%;
}

.botonV {
    width: 14%;
    padding: 10px 6px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.5s ease;
}

.botonV:hover {
    background-color: #00be6f;
}

.review2 {
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px #e0e0e0;
    resize: none;
    scrollbar-color: rgba(0, 0, 0, .6) transparent;
    scrollbar-width: thin;
    width: calc(96.5% - 4px);
    margin-bottom: 1%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding-left: 1%;
    padding-top: 1%;
    border-radius: 10px;
    background-color: white;
}